{{> header-layout}}

<!-- Icons Grid -->
<section class="bg-light text-center">
    <div class="container" style="min-height: 100vh">
        <h1>Formulaire de test</h1>
        {{#formulaireDto}}
            <div class="alert alert-success" role="alert">
                Le texte tapée est : {{monTexte}}
            </div>
        {{/formulaireDto}}
        <div class="row justify-content-center" style="margin-top: 2em">
            <div class="col-xs-6">
                <form method="post" action="/formulaire">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Un champ texte</label>
                        <input type="text" class="form-control"
                               name="monTexte"
                               placeholder="quelque chose ...."
                               required
                        >
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-info" href="/">Retour à la page welcome</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{> footer-layout}}
<script src="/js/welcome.js"></script>
