<html>
<head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Mon application</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
        <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
 <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Mon application</a>
      <a class="nav-link" href="/formulaire">Page de formulaire</a>
      <a class="btn btn-primary" href="#">Button</a>
    </div>
  </nav>


